<table summary="Book form fields">
    <tr>
        <th>Title</th>
        <td><%= f.text_field(:title) %></td>
    </tr>
    <tr>
        <th>Author</th>
        <td><%= f.text_field(:author) %></td>
    </tr>
    <tr>
        <th>Price</th>
        <td><%= f.number_field :price, step: :any %></td>
    </tr>
    <tr>
        <th>Published Date</th>
        <td><%= f.date_select :published_date, order: [:month, :day, :year], start_year: 1800, end_year: 2030 %></td>
    </tr>
</table>